body{
    background-color: #f2e6ff;
    font-family: "Times New Roman";
}
.intro img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: right;
}
.intro{
    margin-top: 50px;
}
h1{
    font-size: 50px;
    font-weight: bold;
}
.fa-2x{
    color: black;
}
.college{
    margin-bottom: 0px;
}
.fa-android{
    color: green;
    float: right;
}
.projects{
    margin-top: 20px;
}
.projects img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: right;
    /*margin-top: 20px;*/
}
a{
    color: black;
}
h3{
    font-weight: bold;
}
h5{
    font-weight: bold;
}
footer{
    margin-top: 20px;
    background-color: #1a0033;
    color: white; 
    height: 100px;
}
.footer{
    padding-top: 40px;
}
.intro-text{
    margin-left: 17%;
}
@media only screen and (max-width: 600px) {
    h1{
        font-size: 20px;
    }
    .intro img{
        width: 100px;
        height: 100px;
    }
    #links{
        margin-top: 10px;
    }
    .intro-text{
    margin-left: 0%;
}
}
